/* root container*/

:root{
    --primary: rgb(243, 243, 243);
    --secondary: rgb(221, 221, 221);
    
}

.sk_cardsContainer{
    padding: 8px;
    margin-top:10.5rem;
    display: grid;
}

.sk_cardWrapper{
    background-color: var(--primary);
    box-sizing: border-box;
    margin:5px;
    height: 20.1rem;
    width: 18.4rem;
    padding: .6945rem;
}




.sk_itemImageContainer{
    width: 100%;
    height: 9.7rem;
    padding: 0px;
    margin: 0px;
    background-color: var(--secondary);
}


.sk_itemDetails{
    width: 100%;
    height: 1.26rem;
    margin-top: .5rem;
    background-color: var(--primary);
}

.sk_itemDescription{
    margin-bottom: 5px;
    border-radius: 3px;
    width: 100%;
    height: 3.12rem;
    background-color: var(--secondary);
}

.sk_itemPrice{
    margin-bottom: 5px;
    border-radius: 2px;
    width: 15%;
    height: 1.26rem;
    background-color: var(--secondary);
}

.sk_addToCartContainer{
    margin-top: 3px;
    padding: 0px;
    height:2rem;
    width: 100%;
    background-color: var(--secondary);
}


@media screen and (max-width: 480px) {
 .sk_cardsCoontaiiner{
    grid-template-columns: 1fr;
 }   
}

@media screen and (min-width: 481px) and (max-width:767px) {
    .sk_cardsCoontaiiner{
       grid-template-columns: 1fr 1fr;
    }   
}

@media screen and (min-width: 768px) and (max-width:1024px){
    .sk_cardsContainer{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width: 1025px){
    .sk_cardsContainer{
        grid-template-columns: repeat(4, 1fr);
    }
}

.sk_itemShippingStatus{
    height: 1rem;
    width: 75%;
    margin-bottom: 5px;
    background-color: var(--secondary);
}